<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-2" src="/logo sem fundo.png" alt="" width="auto" height="150">
    <h1 class="display-5 mx-auto mb-3 fw-bold">Project Kanban</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" class="btn btn-primary btn-lg px-4 gap-3 me-2" href="/login">Acessar</a>
        </div>
    </div>
</div>